*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  overflow: hidden;
}

.bg{
  background: url(./assets/images/pattern-bg-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  height:30vh;
  padding: 15px;
}

.center{
  display: flex;
  justify-content: center;
}

h3{
  text-align: center;
  color: #ffff;
  text-transform: capitalize;
  font-weight: 800;
  font-size: 30px;
}

input{
  margin-top: 20px;
  padding: 14px 18px;
  min-width: 500px;
  border: none;
  border-radius: 10px;
  outline: 1px solid rgb(0, 191, 255);
  position: relative;
}

button{
  position: absolute;
  height: 45px;
  width: 45px;
  padding: 14px 14px;
  border: none;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  background-color: black;
  margin-top: 19px;
  left: 66%;
}

button:hover{
  cursor: pointer;
}

.map{
  position: absolute;
  height: 70vh;
  width: 100vw;
  background-color: red;
}

.map iframe{
  height: 100%;
  width: 100%;
}

.white-bg{
  position: absolute;
  z-index: 2;
  top: 25%;
  height: 22%;
  width: 70%;
  background-color: #ffff;
  border-radius: 14px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 30px 18px;
  align-items: center;
}

.flex{
  display: flex;
  justify-content: space-around;
}

span{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: hsl(0, 0%, 59%);
  letter-spacing: 0.9px;
}

h2{
  color: hsl(0, 0%, 17%);
  margin-top: 10px;
}

.bord{
  border-right: 1px solid hsl(0, 0%, 59%);
}

.icon{
  position: absolute;
  top: 65%;
  left: 50%;
  width: 3%;
}